@model Book
<style>
    .error-span {
        color: red;
        font-size: 18px;
        font-weight: 650;
        margin-left: 5px;
    }

    .iti {
        width: 100%;
    }

    .right-sidebar-item {
        overflow: hidden;
        height: 550px;
        padding-bottom: 20px;
    }


    .checkboxes {
        width: 100%;
        background: rgb(240, 240, 240);
        padding: 20px;
        overflow: scroll;
        max-height: 450px;
        overflow-x: hidden;
        border-radius: 20px;
    }

        .checkboxes::-webkit-scrollbar {
            display: none;
        }

    .search {
        width: 100%;
        border-radius: 3mm;
        padding: 10px;
        outline: none;
        border: 1px solid gray;
    }

    .select_label {
        display: block;
        padding: 10px 0;
    }

        .select_label h4 {
            display: inline-block;
            margin: 0;
        }

    input.checkbox {
        width: 20px;
        height: 20px;
    }

    .checkbox {
        margin-right: 10px;
    }
</style>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Qiymeti</label>
                <input asp-for="Price" class="form-control" type="number" step="any" min="1" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountRate" class="control-label">Endirim %</label>
                <input asp-for="DiscountRate" class="form-control" type="number" step="any" min=1 />
                <span asp-validation-for="DiscountRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label">Şəkil</label>
                <input asp-for="PhotoUrl" class="form-control" id="answer" type="file" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="col-lg-8">
                <div class="col-lg-12">
                    <div class="card-body card shadow right-sidebar-item">
                        <div class="form-group">
                            <label>Yazarlar:</label>
                            <div id="checkboxes2" class="checkboxes">

                                @foreach (var author in ViewData["Authors"] as IEnumerable<Author>)
                                {
                                    var selected = ViewData["SelectedBookIds"] != null &&
                                    ((List<int>)ViewData["SelectedBookIds"]).Contains(author.Id);

                                    <label>
                                        <input type="checkbox"
                                               name="SelectedAuthorIds"
                                               value="@author.Id"
                                               @(selected ? "checked" : "") /> @author.Name
                                    </label>
                                
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValue.ADD_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValue.RETURN_TO_BACK</a>
</div>

<script>
    $('.checkbox').change(function () {
        if (!this.checked) {
            var bookId = $(this).val();
            $('<input>').attr({
                type: 'hidden',
                name: 'bookIdsToRemove',
                value: bookId
            }).appendTo('#editForm');
        }
    });
</script>
